<ng-container
	*ngIf="(tasksTodo | async)?.length || 0 > 0; then thenBlock; else elseBlock"
/>
<ng-template #thenBlock>
	<h2>Tasks to do - {{ (tasksTodo | async)?.length || 0 }}</h2>
	<todo-item *ngFor="let todoItem of tasksTodo | async" [todoItem]="todoItem" />
</ng-template>
<ng-template #elseBlock>
	<p>
		{{
			(tasksCompleted | async)?.length || 0 > 0
				? "All tasks completed 🎉"
				: "No tasks yet. Try adding one!"
		}}
	</p>
</ng-template>

<div *ngIf="(tasksCompleted | async)?.length || 0 > 0">
	<h2>Done - {{ (tasksCompleted | async)?.length || 0 }}</h2>
	<todo-item
		*ngFor="let todoItem of tasksCompleted | async"
		[todoItem]="todoItem"
	/>
</div>
